<!DOCTYPE html>
<html>
  <head>
    <title>TrackDailySteps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
  <%= render 'layouts/header' %> 
    <% if !user_signed_in? %>
      <main class="welcome ">
        <header>
        <%= render 'layouts/messages' %>
          <nav class="nav">
            <%= link_to 'Login', new_user_session_path, class: "nav__link" %>
          </nav>
        </header>
      </main>
    <% else %>
      <div class="container">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
