<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Tech Talks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

<body>
<% if !user_signed_in? %>
  <main class="welcome ">
    <header>
      <% if notice %> 
        <p class="notice"><%= notice %></p>
      <% elsif %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <nav class="nav">
        <%= link_to 'Login', new_user_session_path, class: "nav__link" %>
      </nav>
    </header>
    <%= yield %>
  </main>
<% end %>
</body>
</html>